:root {
	--header: #5a4935;
	--menu: #0b090cff;
	--main-color: #a2691aff;
	--menu-link: white;
	--h1: white;
	--p-first-screen: white;
	--reset-link: white;
	--text-on-white: #0b090cff;
	--links: var(--orange-peel);
	--testamonial-card: #fca62369;
	--margin-top-bottom: 5%;
	--padding-top-bottom: 10%;
	--accent: #634742ff;
	--border-radius: 10px;
	--onorange: #efe8e7;
	--footer: #0a1c38ff;
	--smoke-blue: #efe8e7;
	--disabled: #f59107ff;
	--footer-link:#012340;
	/* logo*/
	--golden-brown: #a2691aff;
	--slate-gray: #707d87ff;
	--oxford-blue: #0a192fff;
	--blue-munsell: #3b839cff;
	--carrot-orange: #f59107ff;
	--rich-black: #0b1624ff;
	--orange-peel: #f89809ff;
	--raisin-black: #262525ff;
	--oxford-blue-2: #05172fff;
	--oxford-blue-3: #0a1c38ff;

	/* main bg*/
	--liver: #634742ff;
	--smoky-black: #1b130aff;
	--eerie-black: #181816ff;
	--bistre: #281808ff;
	--licorice: #180e08ff;
	--caf-noir: #412e1aff;
	--black: #07070bff;
	--black-2: #060507ff;
	--night: #0b090cff;
	--profile-card:var(--smoke-blue);
	--profile-card-bg:  #5a4935;
	--text:var(--bistre)
}
  .tel{
		        color:black;
		      
		    }
p.title{font: size 16px;}
        .video-container {
            text-align:center;
            position: relative;
            padding-bottom: 56.25%; /* 16:9 aspect ratio */
            height: 0;
            overflow: hidden;
        }

        .video-container iframe {
            margin: 0 auto;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }


  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .list-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
    .video-container {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 aspect ratio */
      height: 0;
      overflow: hidden;
    }
    
    .video-container video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
     /* Tooltip */
    .tooltip {
      position: relative;
      display: inline-block;
 
      cursor: help; /* Change the cursor to a question mark */
    }
    
    .tooltip .tooltiptext {
      visibility: hidden;
      width: 100%;
      background-color: #000;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -60px;
      opacity: 0;
      transition: opacity 0.3s;
    }
    
    .tooltip:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
    .more{
        width:100%;
    }
	a{
		color: var(--footer-link);
	}
h1 {
	padding-left: 10%;
}
.small {
	height: 80px;
	
	background-color: var(--caf-noir);
}

html {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial;
	
	/* overflow: hidden; */
}
.error{
	color: red;
	border: 1px solid red;
}
p{
	color: var(--text);
}
.intro img {
	margin: 1%;
}
hr {
	margin-top: 10%;
}
.main {
	margin-top: 0;
	width: 100%;
}
.logo {
	width: 10%;
}
.logo img {
	height: 10%;
}
.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.title {
	margin: 0 !important;
	/* flex-grow: 2; */
}
.menu {
	display: none;
	background-color: var(--menu);
	width: 100%;


	padding: 10%;
	letter-spacing: 1px;
	line-height: 30px;
	position: absolute;
}

ul li {
	list-style: none;
}
.menu a {
	text-decoration: none;
	color: var(--menu-link);
}

.disabled {
	pointer-events: none;
	cursor: default;
	text-decoration: none;

	opacity: 0.5;
}
.disabled a {
	color: var(--disabled);
}

.open {
	display: block;
}
.first-screen {
	background-image: url("../asset/img/bgMain.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--h1);
	height: 300px;
}
.first-screen p {
	font-size: 0.875em;
	margin: 10%;
}
.buttons {
	display: flex;

	justify-content: space-around;
	width: 100%;
	font-size: 10px;
}
.buttons a:first-child {
	border-radius: 10px;
	background: var(--main-color);
	padding: 2%;
}
.buttons a:last-child {
	border-radius: 10px;
	background: var(--accent);
	padding: 2%;
}

.buttons a {
	text-decoration: none;
	color: var(--reset-link);
}
.corse-container {
	position: relative;
	text-align: center;
	color: white;
}

.description {
	position: absolute;
	top: 50%;
	left: 50%;
	max-height: 50%;
	transform: translate(-50%, -50%);
}
a.description {
	color: white;
	text-decoration: none;
	backdrop-filter: blur(20px);
	padding: 10%;
	width: 100%;
}

.courses {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.corse-container {
	width: 49%;
}
.corse-container img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.intro,
.testemonials h2 {
	color: var(--text-on-white);
	margin: 10px auto;
}
.intro p {
	margin: 10px 10px;
	padding: 2%;

	color: var(--text-on-white);
}

.intro a {
	text-decoration: none;
	color: var(--links);
}

.rent-container {
	padding: 0;
	margin: 0;
	/* max-width: 50%; */
	position: relative;
	text-align: center;
}
.rent-container img {
	max-width: 100%;
}
/* grid sextion  */
.sax {
	grid-row-start: 1;
	grid-row-end: 3;
}
/* .sax img {
	height: 100%;
	width: 100%;
} */

.rent {
	/* width: 100%;
	height: 500px; */
	display: grid;
	align-content: space-between;

	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

/* :end */



.rent-container img {
	height: 100%;
}
section {
	margin: var(--margin-top-bottom) auto;
}

.testemonials {
	text-align: center;
	margin: 5%;
}
.testamonial-card {
	background-color: var(--testamonial-card);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 10%;
	margin-bottom: 2px;
}
.text {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
}

.text::before {
	content: url(../asset/figma/‘’-1.png);
}
.controls {
	display: flex;
	justify-content: space-between;
}

.more {
	margin: 5% 1%;
}
.more a {
	border-radius: 10px;
	background: var(--links);
	padding: 2%;

	text-decoration: none;
	color: white;
}
.testamonial-card-img {
	max-width: 50%;
	float: left;
}

.contacts {
	padding-top: var(--padding-top-bottom);
	margin-bottom: 0;
	background-image: url("../asset/figma/formBG.png");
}

.contacts form {
	padding-top: var(--padding-top-bottom);
	width: 90%;
	margin: 0 auto;
}

select {
	display: block;
	width: 100%;
}

input[type="submit"] {
	display: block;
}

form.contact-form {
	margin-top: 10px;
	width: 90%;
}
form > input,
select {
	width: 100%;
	margin: var(--margin-top-bottom) auto;
	height: 20%;
	border-radius: var(--border-radius);
	height: 30px;
}

.rate-description {
	padding-top: var(--margin-top-bottom);
	margin-top: 20px;
	background-color: #fff;
	padding: 10%;
	border-radius: 10px;
	width: 90%;
	margin: var(--margin-top-bottom) auto;
}

.accent {
	color: var(--accent);
}
.rate-description h2 {
	text-align: center;
	margin: var(--margin-top-bottom) auto;
}

input[type="submit"] {
	background-color: var(--accent);
	color: white;

	padding: 2px;
	width: 30%;
}

form {
	color: var(--text-on-white);
}
form input {
	color: var(--text-on-white);
	padding: var(--margin-top-bottom);
}

.footer {
	text-align: center;
	padding: var(--margin-top-bottom);

	background-color: var(--footer);
}

.footer a {
	text-decoration: none;
	color: var(--onorange);
	padding-bottom: 0;
}

input[type="textarea"] {
	height: 70px;
	padding: var(--margin-top-bottom);
}

select {
	color: var(--text-on-white) !important;
	padding: 4px;
}

header {
	flex: 0 0 auto;
}

main {
	flex: 1 0 auto;
	

}

footer {
	flex: 0 0 auto;
}

.profile-card {
	width: 90%;
	margin: 10px auto;
	background-color: var(--profile-card);
	border-radius: 10px;
	padding: 5px;
	line-height: 20px;
}

.profile-card-img {
	background-color: var(--profile-card-bg);

}
.profile-card-img img {
	padding: 1%;
	max-height: 50%;
	max-width: 100%;
}

.profile-card div {
	margin: 20px auto;
}

.prim {
	padding: 1%;
	margin: 1%;
	border-radius: 10px;
	background-color: var(--main-color);
}
a.prim {
	margin-top: 30px;
	text-decoration: none;
	color: white;
}

.cv {
	/* font-style: italic; */
	font-size: small;
}

.fio {
	font-weight: bold;
}

output {
	color: var(--main-color);
	margin: 0 auto;
	width: 90%;
}

.adress {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	width: 90%;
	margin: 10% auto;
}

.description {
	flex-grow: 1;
}

.map-legend {
	margin: var(--margin-top-bottom);
}

.map iframe {
	width: 100%;
	height: 600px;
}


.intro img {
	float: left;
	max-width: 50%;
	max-height: 50%;
}

p.intro{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: justify;
	margin: 1%;
	
}

h3 {
	color: var(--bistre);
	margin-bottom: 10%;
}

.toggle {
	margin-right: 10px;
	color:white;
}

.title {
	color: var(--onorange);
}

.menu a {
	text-transform: uppercase;
}

img.intro {
	max-width: 100%;
}

img {
	max-width: 100%;
}

.desctop-menu {
	display: none;
}

h1 {
	margin: 1%;
}
.right {
	display: none;
}

/* ******539************ */

@media only screen and (min-width: 539px) {
	.rentcontainer{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	p.intro{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	
	.map iframe {
		width: 500px;
		height: 500px;
	}
	.small{
		height: 200px;
		padding:2px;
	}
	body {
		font-size: 20px;
	}
	.calculater-container {
		padding: 10px;
		background: rgb(255, 206, 149);
		background: linear-gradient(
			90deg,
			rgb(255, 219, 177) 0%,
			rgb(245, 221, 176) 7%,
			rgb(238, 205, 155) 90%
		);
		margin-top: 10%;
		display: flex;
		justify-content: space-around;
		align-items: baseline;
	}
	.list {
		flex-grow: 1;
		flex-basis: 60%;
	}
	.calculater-container section {
		max-width: 50%;
		margin: 0;
		padding: 0;
	}

	
	.glass {
		width: 99%;
	}
	
	.profiles {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.profile-card {
		width: 40%;
	}
	.adress {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: nowrap;
	}

	/* .map{
		width: 50%;
	}
	.map-legend{
		width: 50%;
	} */

	.first-screen {
		height: 1200px;
	}
	.toggle {
		display: none;
	}

	p.title {
		font-size: 12px;
	}

	.desctop-menu {
		display: block;
		width: 60%;
		font-size: 20px;
	}
	.desctop-menu ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		flex-grow: 1;
	}

	.title {
		flex-grow: 0;
	}
	.desctop-menu ul li {
		list-style: none;
	}
	.desctop-menu a {
		color: var(--onorange);
		text-decoration: none;
		text-transform: uppercase;
	}
	.desctop-menu a:hover {
		border-bottom: 1px solid var(--smoke-blue);
		color: var(--smoke-blue);
	}
	.glass {
		width: 60%;
		min-height: 99%;
		max-height: 100%;

		position: absolute;
		top: 0;
		background-color: var(--golden-brown);
		opacity: 0.3;
		z-index: 1;
	}
	.first-screen {
		position: relative;
		z-index: 11;
		padding-bottom: 0;
	}

	.left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 60%;
		top: 35%;
		height: 30%;
	}

	.right img {
		width: 200px;
		-webkit-box-shadow: 0px 0px 121px 2px rgba(255, 220, 46, 0.77);
		-moz-box-shadow: 0px 0px 121px 2px rgba(255, 220, 46, 0.77);
		box-shadow: 0px 0px 121px 2px rgba(255, 220, 46, 0.77);
	}
	.right img:hover {
		filter: saturate(100%);
	}

	.content {
		position: absolute;

		z-index: 9;
		height: 1200px;
	}

	.screen {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.intro img {
		width: 50%;
		
	}

	.intro p {
		margin: 0;
		font-size: 1em;
	}
	.tuts {
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}

	/* .iframe {
		width: 100%;
		margin: 0 auto;
	} */
	h3 {
		padding: 1px;
	}
	.courses {
		flex-wrap: nowrap;
	}
	.corse-container {
		width: 20%;
		margin: 0;
	}
	.rent {
		width: 90%;
		margin: 0 auto;
	}

	.testamonial-card {
		flex-direction: row;
		justify-content: space-around;
		gap: 10%;
		width: 90%;
		margin: 0 auto;
	}
}
a:hover {
	color: var(--smoke-blue);
}
/* @media only screen and (min-width: 767px){

} */

/* ******************869px*************************** */

@media only screen and (min-width: 869px) {
	.rentcontainer{
		flex-direction: row;
		justify-content: start;;
		width: 90%;
		margin: 0 auto;
	}
	p.intro{
		flex-direction: row;
		align-items: flex-start;
	}
	.small {
		height: 99px;
			padding:2px;
	}
	.logo img {
		width: 50%;

	}
	.right {
		top: 35%;
		height: 30%;
		position: absolute;

		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}
	.corse-container {
		width: 25%;
	}
	.rent {
		width: 50%;
	}
	.glass {
		height: 100%;
	}
	.right img {
		width: 150px;
	}

	.intro img {
		margin: 1%;
		width: 30%;

		border-radius: 10px 0 0 0;
	}

	.intro {
		width: 60%;
		margin: 0 auto;
	}
	.tuts {
		width: 60%;
		margin: 0 auto;
	}

	.corse-container {
		width: 15%;
	}

	.intro P {
		line-height: 30px;
		font-size: 1.25em;
		letter-spacing: 1.5px;
	}

	.tuts iframe {
		width: 100%;
		height: 600px;
		border-radius: 0 0 20px 0;
	}

	.container {
		width: 60%;
		margin: 1% auto;
	}
	.controls {
		width: 10%;
	}

	.testemomials-bottom {
		width: 60%;
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	h2,
	h3 {
		margin: 5% 0 1% 30%;
		color: #012340;

		font-family: Poppins;
		font-size: 2em;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		text-transform: capitalize;
	}
	.more {
		width: 50%;
	}

	.controls {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.contacts-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.rate-contact-form {
		width: 40%;
		height: 40%;
	}
	.rate-description {
		padding: 2%;
		width: 40%;
		height: 40%;
	}

	.first-screen {
		font-size: 40px;
	}
	.right {
		position: relative;
		left: 90%;
	}

	.right img {
		/* width: 300px; */
		width: 1875%;
		left: 0;
	}
}

#diploma {
	float: none;
}

@media only screen and (min-width: 1543) {
}
